{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div>
            <h3>Conversations</h3>
            <ul>
                {% for conversation, other_user in conversations_with_other_user %}
                    <li>
                        <a href="?conversation_id={{ conversation.id }}">
                            {{ other_user.username }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            {% if selected_conversation %}
                <h3>Conversation between {{ selected_conversation.user1.username }} and {{ selected_conversation.user2.username }}</h2>
                <div>
                    {% for message in messages %}
                        <p><strong>{{ message.issuer.username }}:</strong> {{ message.message }} <small>{{ message.moment }}</small></p>
                    {% endfor %}
                </div>
                <h3>Write a message:</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Send</button>
                </form>
            {% else %}
                <p>Select a conversation on the left to view messages and write a new one.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% comment %} {% extends 'base.html' %}

{% block content %}
<h2>Conversation between {{ user1.username }} and {{ user2.username }}</h2>
<div>
    {% for message in messages %}
        <p><strong>{{ message.issuer.username }}:</strong> {{ message.message }} <small>{{ message.moment }}</small></p>
    {% endfor %}
</div>
<h3>Write a message:</h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>
{% endblock %} {% endcomment %}

