{% extends "base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">

<div class="card left-section">
  <div class="profile-picture">
    <div class="img-hover"><span class="material-icons">edit</span></div>
    <img src={{request.user.profile_picture.url}} alt="profile picture">
  </div>
  <h2>{{ user.username }}</h2>
</div>
<div class="card right-section">
  <div class="line">
    <div class="info">
      <h3>WINS</h3><span>10</span>
    </div>
    <div class="info">
      <h3>RANK</h3><span>Gold</span>
    </div>
  </div>
  <div class="line">
    <div class="info">
      <h3>GLOBAL</h3><span>#1</span>
    </div>
    <div class="info">
      <h3>WINS</h3><span>10</span>
    </div>
  </div>
</div>
{% endblock content %}