#game-container {
	position: relative;
	width: 600px;
	height: 600px;
}
#pongCanvas {
	display: block;
	background-color: black;
}
#score {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-family: Arial, sans-serif;
	color: white;
}
