.history {
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 48px;
}

.match-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.btn-match-details {
    width: 24px;
    height: 24px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.btn-match-details:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.match {
    position: relative;
    width: 100%;
    height: 64px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 24px;
    font-size: 36px;
}

.win {
    background-color: #7fcbee;
}

.lose {
    background-color: #f7a8b8;
}

.history-score {
    width: 20%;
}

.history-user {
    text-decoration: none;
    text-align: center;
    color: var(--text);
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

.history-user:hover {
    background-color: transparent;
    text-decoration: underline;
}

.history-time
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    margin: 4px;
    opacity: 0.6;
}

.history-see-more {
    background-color: var(--neutral-200);
    padding: 8px 16px;
}

.history-see-more:hover {
    background-color: var(--neutral-300);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .win {
        background-color: #163999;
    }

    .lose {
        background-color: #711313;
    }

    .history-see-more {
        background-color: var(--neutral-700)
    }

    .history-see-more:hover {
        background-color: var(--neutral-800)
    }
}

@media only screen and (max-width: 768px) {
    .history {
        width: 80%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .match {
        padding: 24px 0px;
        font-size: 24px;
        height: 42px;
        width: 100%;
    }

    .history-score {
        width: 30%;
    }

    .history-user {
        width: 40%;
    }
}
