.content {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	position: relative;
}

@media only screen and (min-width: 768px) {
	.content {
		padding-left: 64px;
	}
}

.notif-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
