.content {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	gap: 16px;
}

.btn-primary {
	height: 90px;
	width: 240px;
	border-radius: 8px;
	background-color: var(--primary);
	color: #f3fbfc;
	box-shadow: inset 0px 0px 6px var(--background);
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-hover {
	border-radius: 8px;
}

.btn-hover:hover {
	box-shadow: 0px 16px 60px -10px var(--primary);
}
